<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body class="container" style="min-height: 100vh; display: flex; flex-direction: column;">
<header th:insert="section/header ::header" ></header>
<main class="min-h-screen" style="flex: 1 1 auto">
    <div style="display: flex; justify-content: center">
        <img src="https://image.petmd.com/files/styles/978x550/public/2023-09/how-smart-are-cats.jpg" alt="..." style="height: 500px;">
    </div>
    <h4>О Нас</h4>
    <p>Добро пожаловать на страницу "О Нас" Cat's Blog! Мы - команда любителей кошек, которые разделяют страсть к этим загадочным созданиям и стремятся создать сообщество, где можно наслаждаться и делиться удивительными историями о кошках.</p>
    <h4>Наша Миссия:</h4>
    <p>Мы создали Cat's Blog с целью объединить всех, кто разделяет нашу страсть к кошкам, и поделиться удивительными историями, полезными советами и красивыми фотографиями. Наша миссия заключается в том, чтобы:</p>
    <ul>
        <li>Вдохновлять: Мы хотим вдохновить вас на создание более тесной связи с вашими пушистыми друзьями и разделить их удивительные истории с вами.</li>
        <li>Обучать: Мы предоставляем информацию и советы о заботе, воспитании, здоровье и питании кошек, чтобы помочь вам обеспечивать лучшие условия для вашего пушистого спутника.</li>
        <li>Создавать Сообщество: Мы стремимся к созданию дружественного сообщества, где кошачьие ценители могут обмениваться опытом, задавать вопросы и делиться своими историями.</li>
    </ul>
    <h4>Наша Команда:</h4>
    <p>Мы - группа энтузиастов, объединенных общей любовью к кошкам. Наши авторы, редакторы и модераторы тщательно отбирают контент, чтобы убедиться, что он соответствует нашей миссии и стандартам качества.</p>
    <h4>Свяжитесь с Нами:</h4>
    <p>Мы всегда готовы слушать вас и ваши идеи. Если у вас есть вопросы, предложения или вы хотите поделиться своей историей, пожалуйста, свяжитесь с нами. Мы всегда рады обратной связи от наших читателей.</p>
    <h4>Спасибо за то, что выбрали Cat's Blog:</h4>
    <p>Мы ценим каждого из вас, кто делает Cat's Blog теплым и дружелюбным местом для всех кошачьих любителей. Спасибо, что разделяете нашу страсть и помогаете нам делиться красотой кошачьего мира!</p>
</main>
<footer th:insert="section/footer ::footer"></footer>
</body>
</html>